<a href="https://colab.research.google.com/github/nirmal428/DataScience/blob/main/basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
#variable
a="Akhil"
b=22
age=53.3+3
print(a)
print(b)
print(age)

Akhil
22
56.3

In [65]:
#type conversion

old_age=input("enter your age = ")
new_age=int(old_age)+2
print(new_age)

number=input("enter number = ")
new_num=float(number)+2.32
print(new_num)

enter your age = 54
56
enter number = 58
60.32

In [66]:
#range

numbner=range(10)
print(numbner)

range(0, 10)

In [67]:
#loop
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [68]:
for i in range(10):
  print(i+1)

1
2
3
4
5
6
7
8
9
10

In [69]:
#list = collection of item
marks=[89,78,91,99,"Maths",9.99,True]
print(marks)

[89, 78, 91, 99, 'Maths', 9.99, True]

In [70]:
marks.append(99)
print(marks)

[89, 78, 91, 99, 'Maths', 9.99, True, 99]

In [71]:
marks.copy()

[89, 78, 91, 99, 'Maths', 9.99, True, 99]

In [72]:
marks.pop()

99

In [73]:
marks

[89, 78, 91, 99, 'Maths', 9.99, True]

In [74]:
marks.insert(0,100)
marks

[100, 89, 78, 91, 99, 'Maths', 9.99, True]

In [75]:
#Break and Continue

stu=["ram","shyam","jaya","amit","jyoti"]
for student in stu:
  if student=="amit":
    break;
  print(student)

stu=["ram","shyam","jaya","amit","jyoti"]
for student in stu:
  if student=="amit":
    continue;
  print(student)

ram
shyam
jaya
ram
shyam
jaya
jyoti

In [76]:
#tuple  immutable

marks=(89,78,91,99,99,99,"Maths",9.99,True)
print(marks)

(89, 78, 91, 99, 99, 99, 'Maths', 9.99, True)

In [77]:
marks.count(99)

3

In [78]:
marks.index(9.99)

7

In [79]:
#set collection of unique element

marks={89,78,91,99,99,99,"Maths",9.99,True}
print(marks)

{89, True, 99, 9.99, 91, 78, 'Maths'}

In [80]:
#dictionary
marks={"english":95 , "math":79}
print(marks)

{'english': 95, 'math': 79}

In [81]:
print(marks["english"])

95

In [82]:
marks["phsics"]=87
print(marks)

{'english': 95, 'math': 79, 'phsics': 87}

In [83]:
#fucrtion
#inuild fuction
print("hello")

hello

In [84]:
from math import *
print(sqrt(36))

6.0

In [85]:
print(floor(3.9))

3

In [86]:
print(ceil(3.1))

4

In [87]:
#user define fuction
def add_two_numbers(a,b=4):
  print(a+b)
add_two_numbers(2)

6

In [88]:
def add_two_numbers(a,b):
  print(a+b)
add_two_numbers(2,7)

9