<a href="https://colab.research.google.com/github/nirmal428/DataScience/blob/main/OOPs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Student:
  subject="python"
  college="ABC"
  year="4th year"

stu1=Student()
stu2=Student()

print(stu1.subject, stu1.college, stu1.year)
print(stu2.subject, stu2.college, stu2.year)

python ABC 4th year
python ABC 4th year

**Constructor**


 (__init__ Method)

In [ ]:
class Student:
  subject="python"
  college="ABC"
  year="4th year"

  def __init__(self,name,age):
    self.name=name
    self.age=age
stu1=Student("Rahul",34)
stu2=Student("Rohit",25)

print(stu1.name, stu1.age)
print(stu2.name, stu2.age)

Rahul 34
Rohit 25

**Attributes**

In [ ]:
class Student:
  college="ABC" #classAttribute

  def __init__(self,name,age):
    self.name=name #instane Attribute
    self.age=age
stu1=Student("Rahul",34)
stu2=Student("Rohit",25)

print(stu1.name)
print(Student.college)

Rahul
ABC

**Method**

In [ ]:
class Laptop:
  storage_type="ssd"

  def __init__(self,brand,RAM,price):
    self.brand=brand
    self.RAM=RAM
    self.price=price

  def get_info(self): #instance Method
    print(f"{self.brand} {self.RAM} {self.price} {self.storage_type}")

l1=Laptop("asus","16gb","512gb")
l2=Laptop("dell","8gb","256gb")

l1.get_info()
l2.get_info()

asus 16gb 512gb ssd
dell 8gb 256gb ssd

In [ ]:
#Encapsulation
class BankAccount:
  def __init__(self,account_number,balance,pin):
    self.account_number=account_number #punlic Attribute
    self._balance=balance #protectyed attribute
    self.__pin=1234 #private attribute

acc1=BankAccount("123456789",1000,123)
acc2=BankAccount("987654321",2000,645)


print(acc1.account_number)
print(acc1._balance)
print(acc1._BankAccount__pin)

print(acc2.account_number)
print(acc2._balance)
print(acc2._BankAccount__pin)

123456789
1000
1234
987654321
2000
1234

In [ ]:
class Employee:
  start_time="10am"
  end_time="6pm"

class Teacher(Employee):
  def __init__(self,subject):
    self.subject=subject

t1=Teacher("English")
print(t1.subject,t1.start_time,t1.end_time)

English 10am 6pm